h4{
    color:rgb(0, 0, 0);
}
h1{
    color:black;
    margin-left: 15px;

}
p{
    color:white;
}

.btn-danger {
    margin-left: 15px;
}

.btn-success {
    margin-left:15px;
}
textarea{
    color:black;
}
input{
    color: black;
}

.btn {
    margin: 15px;
}