h4{
    color:rgb(0, 0, 0);
    margin-left:15px;
}
h1{
    color:black;
    margin-left: 15px;
}
p{
    color:black;
    margin-left:15px;
}

textarea{
    color:black;
}
input{
    color: black;
}

.btn {
    margin: 15px;
}

.btn-warning {
    margin-left: 15px;
}